/* swiper '<,>' 버튼 수정 코드 */
/* .swiper-button-next, .swiper-button-prev {
    color: black !important;
} */
.swiper-button-next, .swiper-button-prev{
    color: black !important; /* 기본 색상 */
    display: flex !important; /* Flexbox 사용 */
    justify-content: center !important; /* 가운데 정렬 */
    align-items: center !important; /* 가운데 정렬 */
    font-size: 15px !important; /* 글자 크기 */
    font-weight: bold !important; /* 글자 두께 */
    text-align: center !important; /* 가운데 정렬 */
    width: 50px !important; /* 너비 */
    height: 50px !important; /* 높이 */
    /* 둥글게 */
    /* border-radius: 50% !important; */
    /* 배경색 */
    /* background: rgba(255, 255, 255, 1) !important; */
    background: rgba(140, 116, 78, 0.3) !important;
    /* 그림자 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) !important;
    z-index: 10 !important; /* z-index */
    cursor: pointer !important; /* 포인터 커서 */
    transition: all 0.3s ease !important;
}
.swiper-button-next::after,.swiper-button-prev::after {
    font-size: 25px !important; /* 여기서 조정 */
    color: black !important;
}
.swiper-button-next{
    position: absolute !important;
    top: 95% !important;
    right: 0px  !important;
}

.swiper-button-prev{
    position: absolute !important;
    top: 95% !important;
    left: 649px !important;
}
.swiper-button-next:hover, .swiper-button-prev:hover {
    color: #fff !important;
}
.swiper-button-next:hover::after,.swiper-button-prev:hover::after {
    color: #fff !important; /* 흰색으로 변경 */
}

/* pagination swiper 'o' 수정 코드*/
.swiper-pagination-bullet {
    width: 12px !important; 
    height: 12px !important; 
    /* background: rgba(140, 116, 78, 0.5) !important; */
    background: rgba(255, 255, 255, 0.5) !important;
    box-shadow: 0 0 2px rgba(0,0,0,0.5) !important;
    opacity: 1 !important; /* 투명도 (0~1) */
    margin: 0 6px !important; /* 점 간격 */
    transition: all 0.3s ease !important;
}
/* 활성화된 (현재 페이지) 점 스타일 */
.swiper-pagination-bullet-active{
    /* background: rgba(140, 116, 78, 1) !important; */
    background: #ffffff !important;
    transform: scale(1.3) !important; /* 크기 살짝 확대 */
}